@import "tailwindcss";
@layer theme, base, components, utilities;

@theme {
  --font-sans: "Inter", "sans-serif";
  --grid-template-columns-70-30: 70% 30%;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background: var(--color-neutral-900);
    color: var(--color-white);
  }
}
